@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size-sm: clamp(0.7rem, 0.51vw + 0.57rem, 1.03rem);
    --font-size-base: clamp(0.88rem, 0.77vw + 0.68rem, 1.38rem);
    --font-size-md: clamp(1.09rem, 1.14vw + 0.81rem, 1.83rem);
    --font-size-lg: clamp(1.37rem, 1.66vw + 0.95rem, 2.44rem);
    --font-size-xl: clamp(1.71rem, 2.38vw + 1.11rem, 3.26rem);
    --font-size-xxl: clamp(2.14rem, 3.39vw + 1.29rem, 4.34rem);
    --font-size-xxxl: clamp(2.67rem, 4.79vw + 1.47rem, 5.79rem);
}

ul {
    list-style: none;
}

@layer components {
    .hover-effect {
        @apply cursor-pointer rounded-full w-[3rem] h-[3rem] transition duration-500 ease-out;
        @apply xl:w-full xl:h-auto p-2;
        @apply hover:bg-gray-200;
    }
}
